 .form-control, .btn{
     height: 4rem;
     line-height: initial;
 }

 .form-text{
     color:skyblue;
 }

 .btn{
     background-color:purple;
 }

 #margen-barra{
     height: 2rem;
     margin-top: 5px;
 }
 #margen-boton{
     height: 2rem;
     margin-top: 5px;
 }

 #padding-barra2{
    padding: 15px;
}

.carousel-caption{

    background: rgba(0,0,0,0.500);
}

.fondo{
    background-image: linear-gradient(#65C7F7,#636FA4);
}

.padding-html{
    padding-bottom: 233px;
}

#carouselExampleCaptions{
    border: solid black;
}

#carouselExampleControls{

    border: solid black;
}

h1{
    text-align: center;
    text-decoration: black;
    font-family: 'RocknRoll One', sans-serif;
}

p{
    font-family: 'RocknRoll One', sans-serif;
}

label{
    color:paleturquoise;
 }

 #trabajos{

    padding-top: 50px;
    text-align:left;
    padding-left: 50px;
 }

 #move-imagentrabajos{

   padding-top: 50px;
   padding-left: 50px;
   padding-right: 200px;

 }

 #centrado-h1-trabajo3{

    text-align: left;
 }

 #color{
     background-color: white;
 }

 #navbar-trabajos{
     
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
 }



