#fondo-atenciones{

    background-color: white;
    margin-left: 0px ;
    margin-right: -43px;
    padding-bottom: 5px;
    border: solid;

}

.padding-html3{

    padding-bottom: 162px;
}

#botones-atenciones{

    padding-left: 10rem;
    padding-top: 2rem;
}